[project]
name = "arkadiko"
authors = ["Arkadiko Team"]
description = "Arkadiko implements a stablecoin (USDA) and governance token (DIKO) on Stacks"
telemetry = false
cache_dir = "contracts/external"
boot_contracts = ["pox", "costs-v2"]

# [repl.analysis]
# passes = ["check_checker"]
# check_checker = { trusted_sender = false, trusted_caller = false, callee_filter = false }


# ----------------------------------------------------
# External
# ----------------------------------------------------

[[project.requirements]]
contract_id = "SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.sip-010-trait-ft-standard"

[[project.requirements]]
contract_id = "SP3K8BC0PPEVCV7NZ6QSRWPQ2JE9E5B6N3PA0KBR9.trait-semi-fungible"

[[project.requirements]]
contract_id = "SP3K8BC0PPEVCV7NZ6QSRWPQ2JE9E5B6N3PA0KBR9.trait-ownable"

[[project.requirements]]
contract_id = "SP3K8BC0PPEVCV7NZ6QSRWPQ2JE9E5B6N3PA0KBR9.token-amm-swap-pool"

[[project.requirements]]
contract_id = "SP4SZE494VC2YC5JYG7AYFQ44F5Q4PYV7DVMDPBG.stacking-dao-core-v1"

[[project.requirements]]
contract_id = "SP4SZE494VC2YC5JYG7AYFQ44F5Q4PYV7DVMDPBG.reserve-v1"

# ----------------------------------------------------
# Core
# ----------------------------------------------------

[contracts.arkadiko-oracle-trait-v1]
path = "contracts/arkadiko-oracle-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-dao-token-trait-v1]
path = "contracts/arkadiko-dao-token-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-dao]
path = "contracts/arkadiko-dao.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-governance-v4-3]
path = "contracts/arkadiko-governance-v4-3.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-oracle-v2-3]
path = "contracts/arkadiko-oracle-v2-3.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-diko-init]
path = "contracts/arkadiko-diko-init.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-diko-init-v2-1]
path = "contracts/arkadiko-diko-init-v2-1.clar"
clarity_version = 2
epoch = 2.4

# ----------------------------------------------------
# Tokens
# ----------------------------------------------------

[contracts.arkadiko-token]
path = "contracts/arkadiko-token.clar"
clarity_version = 2
epoch = 2.4

[contracts.stdiko-token]
path = "contracts/stdiko-token.clar"
clarity_version = 2
epoch = 2.4

[contracts.wrapped-stx-token]
path = "contracts/wrapped-stx-token.clar"
clarity_version = 2
epoch = 2.4

[contracts.usda-token]
path = "contracts/usda-token.clar"
clarity_version = 2
epoch = 2.4

[contracts.wstx-token]
path = "contracts/wstx-token.clar"
clarity_version = 2
epoch = 2.4

# ----------------------------------------------------
# Vaults V2
# ----------------------------------------------------

[contracts.arkadiko-vaults-data-trait-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-data-trait-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-data-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-data-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-helpers-trait-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-helpers-trait-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-helpers-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-helpers-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-manager-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-manager-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-operations-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-operations-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-pool-active-trait-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-pool-active-trait-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-pool-active-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-pool-active-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-pool-fees-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-pool-fees-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-pool-liq-trait-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-pool-liq-trait-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-pool-liq-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-pool-liq-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-pool-liq-v1-2]
path = "contracts/vaults-v2/arkadiko-vaults-pool-liq-v1-2.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-sorted-trait-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-sorted-trait-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-sorted-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-sorted-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-tokens-trait-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-tokens-trait-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-tokens-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-tokens-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-migration-v1-1]
path = "contracts/vaults-v2/arkadiko-vaults-migration-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-migration-v1-2]
path = "contracts/vaults-v2/arkadiko-vaults-migration-v1-2.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vaults-migration-v1-3]
path = "contracts/vaults-v2/arkadiko-vaults-migration-v1-3.clar"
clarity_version = 2
epoch = 2.4

# ----------------------------------------------------
# Vaults
# ----------------------------------------------------

[contracts.xstx-token]
path = "contracts/vaults/xstx-token.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-auction-engine-trait-v2]
path = "contracts/vaults/arkadiko-auction-engine-trait-v2.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-collateral-types-v3-1]
path = "contracts/vaults/arkadiko-collateral-types-v3-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vault-data-v1-1]
path = "contracts/vaults/arkadiko-vault-data-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-freddie-v1-1]
path = "contracts/vaults/arkadiko-freddie-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidator-v2-1]
path = "contracts/vaults/arkadiko-liquidator-v2-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-sip10-reserve-v1-1]
path = "contracts/vaults/arkadiko-sip10-reserve-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-sip10-reserve-v2-1]
path = "contracts/vaults/arkadiko-sip10-reserve-v2-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stacker-v3-1]
path = "contracts/vaults/arkadiko-stacker-v3-1.clar"
clarity_version = 2
epoch = "2.4"

[contracts.arkadiko-stacker-payer-v3-7]
path = "contracts/vaults/arkadiko-stacker-payer-v3-7.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stacker-payer-v3-8]
path = "contracts/vaults/arkadiko-stacker-payer-v3-8.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stacker-payer-v3-9]
path = "contracts/vaults/arkadiko-stacker-payer-v3-9.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-mock-stacker-v1-1]
path = "contracts/vaults/arkadiko-mock-stacker-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stacker-2-v3-1]
path = "contracts/vaults/arkadiko-stacker-2-v3-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stacker-3-v3-1]
path = "contracts/vaults/arkadiko-stacker-3-v3-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stacker-4-v3-1]
path = "contracts/vaults/arkadiko-stacker-4-v3-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stx-reserve-v1-1]
path = "contracts/vaults/arkadiko-stx-reserve-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vault-trait-v1]
path = "contracts/vaults/arkadiko-vault-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vault-manager-trait-v1]
path = "contracts/vaults/arkadiko-vault-manager-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-collateral-types-trait-v1]
path = "contracts/vaults/arkadiko-collateral-types-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-vault-rewards-v1-1]
path = "contracts/vaults/arkadiko-vault-rewards-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-pox-unstack-unlock-v2-5]
path = "contracts/vaults/arkadiko-pox-unstack-unlock-v2-5.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-rewards-trait-v1]
path = "contracts/vaults/arkadiko-liquidation-rewards-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-rewards-trait-v2]
path = "contracts/vaults/arkadiko-liquidation-rewards-trait-v2.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-pool-trait-v1]
path = "contracts/vaults/arkadiko-liquidation-pool-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-pool-v1-1]
path = "contracts/vaults/arkadiko-liquidation-pool-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-rewards-v1-1]
path = "contracts/vaults/arkadiko-liquidation-rewards-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-rewards-v1-2]
path = "contracts/vaults/arkadiko-liquidation-rewards-v1-2.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-rewards-ui-v2-3]
path = "contracts/vaults/arkadiko-liquidation-rewards-ui-v2-3.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-ui-v1-2]
path = "contracts/vaults/arkadiko-liquidation-ui-v1-2.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-auction-engine-v4-5]
path = "contracts/vaults/arkadiko-auction-engine-v4-5.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-liquidation-rewards-diko-v1-1]
path = "contracts/vaults/arkadiko-liquidation-rewards-diko-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-claim-usda-yield-v2-1]
path = "contracts/vaults/arkadiko-claim-usda-yield-v2-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-claim-yield-v2-1]
path = "contracts/vaults/arkadiko-claim-yield-v2-1.clar"
clarity_version = 2
epoch = 2.4


# ----------------------------------------------------
# Staking
# ----------------------------------------------------

[contracts.arkadiko-diko-guardian-v1-1]
path = "contracts/stake/arkadiko-diko-guardian-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-diko-guardian-v3-1]
path = "contracts/stake/arkadiko-diko-guardian-v3-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-alex-dual-yield-v1-1]
path = "contracts/stake/arkadiko-alex-dual-yield-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stable-swap-rewards-v1-1]
path = "contracts/stake/arkadiko-stable-swap-rewards-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-diko-trait-v1]
path = "contracts/stake/arkadiko-stake-pool-diko-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-diko-v1-2]
path = "contracts/stake/arkadiko-stake-pool-diko-v1-2.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-diko-v2-1]
path = "contracts/stake/arkadiko-stake-pool-diko-v2-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-diko-usda-v1-1]
path = "contracts/stake/arkadiko-stake-pool-diko-usda-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-wstx-usda-v1-1]
path = "contracts/stake/arkadiko-stake-pool-wstx-usda-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-wstx-diko-v1-1]
path = "contracts/stake/arkadiko-stake-pool-wstx-diko-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-xusd-usda-v1-5]
path = "contracts/stake/arkadiko-stake-pool-xusd-usda-v1-5.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-trait-v1]
path = "contracts/stake/arkadiko-stake-pool-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-registry-trait-v1]
path = "contracts/stake/arkadiko-stake-registry-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-registry-v1-1]
path = "contracts/stake/arkadiko-stake-registry-v1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-registry-v2-1]
path = "contracts/stake/arkadiko-stake-registry-v2-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-ui-stake-v1-5]
path = "contracts/stake/arkadiko-ui-stake-v1-5.clar"
clarity_version = 2
epoch = 2.4


# ----------------------------------------------------
# Swap
# ----------------------------------------------------

[contracts.arkadiko-swap-v2-1]
path = "contracts/swap/arkadiko-swap-v2-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-swap-trait-v1]
path = "contracts/swap/arkadiko-swap-trait-v1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-swap-token-diko-usda]
path = "contracts/swap/arkadiko-swap-token-diko-usda.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-swap-token-wstx-usda]
path = "contracts/swap/arkadiko-swap-token-wstx-usda.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-swap-token-wstx-diko]
path = "contracts/swap/arkadiko-swap-token-wstx-diko.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-swap-token-wstx-xbtc]
path = "contracts/swap/arkadiko-swap-token-wstx-xbtc.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-swap-token-xbtc-usda]
path = "contracts/swap/arkadiko-swap-token-xbtc-usda.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-multi-hop-swap-v1-1]
path = "contracts/swap/arkadiko-multi-hop-swap-v1-1.clar"
clarity_version = 2
epoch = 2.4


# ----------------------------------------------------
# Test
# ----------------------------------------------------

[contracts.arkadiko-collateral-types-tv1-1]
path = "contracts/tests/arkadiko-collateral-types-tv1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-registry-tv1-1]
path = "contracts/tests/arkadiko-stake-registry-tv1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-stake-pool-diko-tv1-1]
path = "contracts/tests/arkadiko-stake-pool-diko-tv1-1.clar"
clarity_version = 2
epoch = 2.4

[contracts.arkadiko-governance-tv1-1]
path = "contracts/tests/arkadiko-governance-tv1-1.clar"
clarity_version = 2
epoch = 2.4

# stSTX
[contracts.ststx-token]
path = "contracts/tests/ststx/ststx-token.clar"
clarity_version = 2
epoch = 2.4

[contracts.stacking-dao-core-v1]
path = "contracts/tests/ststx/stacking-dao-core-v1.clar"
clarity_version = 2
epoch = 2.4

# Tokensoft xBTC
[contracts.restricted-token-trait]
path = "contracts/tests/xbtc/restricted-token-trait.clar"
clarity_version = 2
epoch = 2.4

[contracts.Wrapped-Bitcoin]
path = "contracts/tests/xbtc/Wrapped-Bitcoin.clar"
clarity_version = 2
epoch = 2.4

[contracts.auto-alex]
path = "contracts/tests/atalex/auto-alex.clar"
clarity_version = 2
epoch = 2.4

[contracts.auto-alex-v2]
path = "contracts/tests/atalex/auto-alex-v2.clar"
clarity_version = 2
epoch = 2.4

# Tests
[contracts.malicious-ft]
path = "contracts/tests/malicious-ft.clar"
clarity_version = 2
epoch = 2.4
