[project]
name = "arkadiko"
authors = ["Arkadiko Team"]
description = "Arkadiko implements a stablecoin (USDA) and governance token (DIKO) on Stacks"
telemetry = false
cache_dir = "./.requirements"
boot_contracts = ["pox", "costs-v2"]

# [repl.analysis]
# passes = ["check_checker"]
# check_checker = { trusted_sender = false, trusted_caller = false, callee_filter = false }

[contracts.arkadiko-dao-token-trait-v1]
path = "contracts/arkadiko-dao-token-trait-v1.clar"

[contracts.arkadiko-collateral-types-v1-1]
path = "contracts/arkadiko-collateral-types-v1-1.clar"

[contracts.arkadiko-collateral-types-v3-1]
path = "contracts/arkadiko-collateral-types-v3-1.clar"

[contracts.arkadiko-collateral-types-tv1-1]
path = "contracts/tests/arkadiko-collateral-types-tv1-1.clar"

[contracts.arkadiko-dao]
path = "contracts/arkadiko-dao.clar"

[contracts.arkadiko-governance-v1-1]
path = "contracts/arkadiko-governance-v1-1.clar"

[contracts.arkadiko-governance-tv1-1]
path = "contracts/tests/arkadiko-governance-tv1-1.clar"

[contracts.arkadiko-governance-v2-1]
path = "contracts/arkadiko-governance-v2-1.clar"

[contracts.arkadiko-governance-v3-1]
path = "contracts/arkadiko-governance-v3-1.clar"

[contracts.arkadiko-token]
path = "contracts/arkadiko-token.clar"

[contracts.arkadiko-oracle-trait-v1]
path = "contracts/arkadiko-oracle-trait-v1.clar"

[contracts.arkadiko-oracle-v1-1]
path = "contracts/arkadiko-oracle-v1-1.clar"

[contracts.arkadiko-vault-data-v1-1]
path = "contracts/arkadiko-vault-data-v1-1.clar"

[contracts.arkadiko-diko-guardian-v1-1]
path = "contracts/arkadiko-diko-guardian-v1-1.clar"

[contracts.arkadiko-auction-engine-v1-1]
path = "contracts/arkadiko-auction-engine-v1-1.clar"

[contracts.arkadiko-auction-engine-v2-1]
path = "contracts/arkadiko-auction-engine-v2-1.clar"

[contracts.arkadiko-freddie-v1-1]
path = "contracts/arkadiko-freddie-v1-1.clar"

[contracts.arkadiko-liquidator-v1-1]
path = "contracts/arkadiko-liquidator-v1-1.clar"

[contracts.arkadiko-liquidator-v2-1]
path = "contracts/arkadiko-liquidator-v2-1.clar"

[contracts.arkadiko-sip10-reserve-v1-1]
path = "contracts/arkadiko-sip10-reserve-v1-1.clar"

[contracts.arkadiko-sip10-reserve-v2-1]
path = "contracts/arkadiko-sip10-reserve-v2-1.clar"

[contracts.arkadiko-stacker-v1-1]
path = "contracts/arkadiko-stacker-v1-1.clar"

[contracts.arkadiko-stacker-payer-v1-1]
path = "contracts/arkadiko-stacker-payer-v1-1.clar"

[contracts.arkadiko-stacker-payer-v2-1]
path = "contracts/arkadiko-stacker-payer-v2-1.clar"

[contracts.arkadiko-stacker-payer-v3-1]
path = "contracts/arkadiko-stacker-payer-v3-1.clar"

[contracts.arkadiko-stacker-payer-v3-2]
path = "contracts/arkadiko-stacker-payer-v3-2.clar"

[contracts.arkadiko-mock-stacker-v1-1]
path = "contracts/arkadiko-mock-stacker-v1-1.clar"

[contracts.arkadiko-stacker-2-v1-1]
path = "contracts/arkadiko-stacker-2-v1-1.clar"

[contracts.arkadiko-stacker-3-v1-1]
path = "contracts/arkadiko-stacker-3-v1-1.clar"

[contracts.arkadiko-stacker-4-v1-1]
path = "contracts/arkadiko-stacker-4-v1-1.clar"

[contracts.arkadiko-stx-reserve-v1-1]
path = "contracts/arkadiko-stx-reserve-v1-1.clar"

[contracts.arkadiko-vault-trait-v1]
path = "contracts/arkadiko-vault-trait-v1.clar"

[contracts.arkadiko-vault-manager-trait-v1]
path = "contracts/arkadiko-vault-manager-trait-v1.clar"

[contracts.arkadiko-auction-engine-trait-v1]
path = "contracts/arkadiko-auction-engine-trait-v1.clar"

[contracts.arkadiko-auction-engine-trait-v2]
path = "contracts/arkadiko-auction-engine-trait-v2.clar"

[contracts.arkadiko-collateral-types-trait-v1]
path = "contracts/arkadiko-collateral-types-trait-v1.clar"

[contracts.stdiko-token]
path = "contracts/stdiko-token.clar"

[contracts.arkadiko-stake-pool-diko-trait-v1]
path = "contracts/arkadiko-stake-pool-diko-trait-v1.clar"

[contracts.arkadiko-stake-pool-diko-v1-1]
path = "contracts/arkadiko-stake-pool-diko-v1-1.clar"

[contracts.arkadiko-stake-pool-diko-v1-2]
path = "contracts/arkadiko-stake-pool-diko-v1-2.clar"

[contracts.arkadiko-stake-pool-diko-v2-1]
path = "contracts/arkadiko-stake-pool-diko-v2-1.clar"

[contracts.arkadiko-stake-pool-diko-slash-v1-1]
path = "contracts/arkadiko-stake-pool-diko-slash-v1-1.clar"

[contracts.arkadiko-stake-pool-diko-usda-v1-1]
path = "contracts/arkadiko-stake-pool-diko-usda-v1-1.clar"

[contracts.arkadiko-stake-pool-wstx-usda-v1-1]
path = "contracts/arkadiko-stake-pool-wstx-usda-v1-1.clar"

[contracts.arkadiko-stake-pool-wstx-diko-v1-1]
path = "contracts/arkadiko-stake-pool-wstx-diko-v1-1.clar"

[contracts.arkadiko-swap-v2-1]
path = "contracts/arkadiko-swap-v2-1.clar"

[contracts.arkadiko-swap-trait-v1]
path = "contracts/arkadiko-swap-trait-v1.clar"

[contracts.arkadiko-swap-token-diko-usda]
path = "contracts/arkadiko-swap-token-diko-usda.clar"

[contracts.arkadiko-swap-token-wstx-usda]
path = "contracts/arkadiko-swap-token-wstx-usda.clar"

[contracts.arkadiko-swap-token-wstx-diko]
path = "contracts/arkadiko-swap-token-wstx-diko.clar"

[contracts.arkadiko-swap-token-wstx-xbtc]
path = "contracts/arkadiko-swap-token-wstx-xbtc.clar"

[contracts.arkadiko-swap-token-xbtc-usda]
path = "contracts/arkadiko-swap-token-xbtc-usda.clar"

[contracts.wrapped-stx-token]
path = "contracts/wrapped-stx-token.clar"

[contracts.arkadiko-stake-pool-trait-v1]
path = "contracts/arkadiko-stake-pool-trait-v1.clar"

[contracts.arkadiko-stake-registry-trait-v1]
path = "contracts/arkadiko-stake-registry-trait-v1.clar"

[contracts.arkadiko-stake-registry-v1-1]
path = "contracts/arkadiko-stake-registry-v1-1.clar"

[contracts.arkadiko-stake-registry-tv1-1]
path = "contracts/tests/arkadiko-stake-registry-tv1-1.clar"

[contracts.arkadiko-vault-rewards-v1-1]
path = "contracts/arkadiko-vault-rewards-v1-1.clar"

[contracts.usda-token]
path = "contracts/usda-token.clar"

[contracts.xstx-token]
path = "contracts/xstx-token.clar"

[contracts.arkadiko-diko-init]
path = "contracts/arkadiko-diko-init.clar"

[contracts.arkadiko-claim-yield-v2-1]
path = "contracts/arkadiko-claim-yield-v2-1.clar"

[contracts.arkadiko-multi-hop-swap-v1-1]
path = "contracts/arkadiko-multi-hop-swap-v1-1.clar"

[contracts.sip-010-trait-ft-standard]
path = "contracts/sip-010-trait-ft-standard.clar"

[contracts.arkadiko-ui-stake-v1-3]
path = "contracts/arkadiko-ui-stake-v1-3.clar"

[contracts.arkadiko-pox-unstack-unlock-v1-1]
path = "contracts/arkadiko-pox-unstack-unlock-v1-1.clar"

[contracts.arkadiko-xstx-migrate]
path = "contracts/arkadiko-xstx-migrate.clar"

[contracts.arkadiko-liquidation-rewards-trait-v1]
path = "contracts/arkadiko-liquidation-rewards-trait-v1.clar"

[contracts.arkadiko-liquidation-rewards-trait-v2]
path = "contracts/arkadiko-liquidation-rewards-trait-v2.clar"

[contracts.arkadiko-liquidation-pool-trait-v1]
path = "contracts/arkadiko-liquidation-pool-trait-v1.clar"

[contracts.arkadiko-liquidation-pool-v1-1]
path = "contracts/arkadiko-liquidation-pool-v1-1.clar"

[contracts.arkadiko-liquidation-rewards-v1-1]
path = "contracts/arkadiko-liquidation-rewards-v1-1.clar"

[contracts.arkadiko-liquidation-rewards-v1-2]
path = "contracts/arkadiko-liquidation-rewards-v1-2.clar"

[contracts.arkadiko-liquidation-rewards-ui-v2-1]
path = "contracts/arkadiko-liquidation-rewards-ui-v2-1.clar"

[contracts.arkadiko-liquidation-rewards-ui-v2-2]
path = "contracts/arkadiko-liquidation-rewards-ui-v2-2.clar"

[contracts.arkadiko-liquidation-ui-v1-2]
path = "contracts/arkadiko-liquidation-ui-v1-2.clar"

[contracts.arkadiko-auction-engine-v4-1]
path = "contracts/arkadiko-auction-engine-v4-1.clar"

[contracts.arkadiko-auction-engine-v4-2]
path = "contracts/arkadiko-auction-engine-v4-2.clar"

[contracts.arkadiko-liquidation-rewards-diko-v1-1]
path = "contracts/arkadiko-liquidation-rewards-diko-v1-1.clar"

[contracts.wrapped-lydian-token]
path = "contracts/wrapped-lydian-token.clar"

[contracts.lydian-airdrop-v1-1]
path = "contracts/lydian-airdrop-v1-1.clar"

[contracts.lydian-airdrop-snapshot-v1-1]
path = "contracts/lydian-airdrop-snapshot-v1-1.clar"

[contracts.arkadiko-alex-dual-yield-v1-1]
path = "contracts/arkadiko-alex-dual-yield-v1-1.clar"

[contracts.arkadiko-claim-usda-yield-v1-1]
path = "contracts/arkadiko-claim-usda-yield-v1-1.clar"

# Tokensoft xBTC
[contracts.restricted-token-trait]
path = "contracts/xbtc/restricted-token-trait.clar"

[contracts.Wrapped-Bitcoin]
path = "contracts/xbtc/Wrapped-Bitcoin.clar"

# Welsh
[contracts.welshcorgicoin-token]
path = "contracts/welsh/welshcorgicoin-token.clar"
depends_on = ["sip-010-trait-ft-standard"]

# atALEX
[contracts.trait-ownable]
path = "contracts/atalex/trait-ownable.clar"

[contracts.auto-alex]
path = "contracts/atalex/auto-alex.clar"

# Tests
[contracts.malicious-ft]
path = "contracts/tests/malicious-ft.clar"
