
[project]
name = "arkadiko"

[contracts.arkadiko-dao-token-trait-v1]
depends_on = []
path = "contracts/arkadiko-dao-token-trait-v1.clar"

[contracts.arkadiko-mock-ft-trait-v1]
depends_on = []
path = "contracts/arkadiko-mock-ft-trait-v1.clar"

[contracts.arkadiko-collateral-types-v1-1]
depends_on = ["arkadiko-collateral-types-trait-v1"]
path = "contracts/arkadiko-collateral-types-v1-1.clar"

[contracts.arkadiko-dao]
depends_on = ["arkadiko-token", "arkadiko-collateral-types-v1-1", "arkadiko-vault-trait-v1"]
path = "contracts/arkadiko-dao.clar"

[contracts.arkadiko-governance-v1-1]
depends_on = ["arkadiko-token", "arkadiko-mock-ft-trait-v1"]
path = "contracts/arkadiko-governance-v1-1.clar"

[contracts.arkadiko-token]
depends_on = ["arkadiko-mock-ft-trait-v1", "arkadiko-dao-token-trait-v1"]
path = "contracts/arkadiko-token.clar"

[contracts.arkadiko-oracle-trait-v1]
depends_on = []
path = "contracts/arkadiko-oracle-trait-v1.clar"

[contracts.arkadiko-oracle-v1-1]
depends_on = ["arkadiko-oracle-trait-v1"]
path = "contracts/arkadiko-oracle-v1-1.clar"

[contracts.arkadiko-stacker-trait-v1]
depends_on = []
path = "contracts/arkadiko-stacker-trait-v1.clar"

[contracts.arkadiko-vault-data-v1-1]
depends_on = ["arkadiko-diko-guardian-v1-1"]
path = "contracts/arkadiko-vault-data-v1-1.clar"

[contracts.arkadiko-diko-guardian-v1-1]
depends_on = ["arkadiko-token"]
path = "contracts/arkadiko-diko-guardian-v1-1.clar"

[contracts.arkadiko-auction-engine-v1-1]
depends_on = [
  "arkadiko-oracle-v1-1",
  "xusd-token",
  "arkadiko-freddie-v1-1",
  "arkadiko-mock-ft-trait-v1",
  "arkadiko-vault-trait-v1",
  "arkadiko-auction-engine-trait-v1"
]
path = "contracts/arkadiko-auction-engine-v1-1.clar"

[contracts.arkadiko-freddie-v1-1]
depends_on = [
  "arkadiko-collateral-types-v1-1",
  "arkadiko-stx-reserve-v1-1",
  "arkadiko-vault-trait-v1",
  "arkadiko-mock-ft-trait-v1",
  "arkadiko-vault-manager-trait-v1",
  "arkadiko-sip10-reserve-v1-1",
  "arkadiko-stacker-v1-1",
  "arkadiko-vault-data-v1-1",
  "arkadiko-vault-rewards-v1-1"
]
path = "contracts/arkadiko-freddie-v1-1.clar"

[contracts.arkadiko-liquidator-v1-1]
depends_on = ["arkadiko-collateral-types-v1-1", "arkadiko-dao", "arkadiko-vault-manager-trait-v1", "arkadiko-auction-engine-trait-v1"]
path = "contracts/arkadiko-liquidator-v1-1.clar"

[contracts.arkadiko-sip10-reserve-v1-1]
depends_on = [
  "arkadiko-collateral-types-v1-1",
  "arkadiko-mock-ft-trait-v1",
  "arkadiko-vault-trait-v1",
  "arkadiko-oracle-v1-1",
  "arkadiko-dao",
  "xusd-token",
  "xstx-token"
]
path = "contracts/arkadiko-sip10-reserve-v1-1.clar"

[contracts.arkadiko-stacker-v1-1]
depends_on = ["arkadiko-stacker-trait-v1", "arkadiko-vault-data-v1-1", "arkadiko-stx-reserve-v1-1", "arkadiko-vault-rewards-v1-1"]
path = "contracts/arkadiko-stacker-v1-1.clar"

[contracts.arkadiko-stx-reserve-v1-1]
depends_on = [
  "arkadiko-collateral-types-v1-1",
  "arkadiko-oracle-v1-1",
  "arkadiko-dao",
  "xusd-token",
  "arkadiko-mock-ft-trait-v1",
  "arkadiko-vault-trait-v1"
]
path = "contracts/arkadiko-stx-reserve-v1-1.clar"

[contracts.arkadiko-vault-trait-v1]
depends_on = ["arkadiko-mock-ft-trait-v1"]
path = "contracts/arkadiko-vault-trait-v1.clar"

[contracts.arkadiko-vault-manager-trait-v1]
depends_on = ["arkadiko-vault-trait-v1"]
path = "contracts/arkadiko-vault-manager-trait-v1.clar"

[contracts.arkadiko-auction-engine-trait-v1]
depends_on = ["arkadiko-oracle-trait-v1", "arkadiko-vault-manager-trait-v1"]
path = "contracts/arkadiko-auction-engine-trait-v1.clar"

[contracts.arkadiko-collateral-types-trait-v1]
depends_on = []
path = "contracts/arkadiko-collateral-types-trait-v1.clar"

[contracts.arkadiko-stake-pool-diko-v1-1]
depends_on = ["arkadiko-stake-pool-trait-v1", "arkadiko-token", "arkadiko-mock-ft-trait-v1", "arkadiko-stake-registry-v1-1"]
path = "contracts/arkadiko-stake-pool-diko-v1-1.clar"

[contracts.arkadiko-stake-pool-trait-v1]
depends_on = ["arkadiko-mock-ft-trait-v1"]
path = "contracts/arkadiko-stake-pool-trait-v1.clar"

[contracts.arkadiko-stake-registry-v1-1]
depends_on = ["arkadiko-token", "arkadiko-stake-pool-trait-v1", "arkadiko-mock-ft-trait-v1"]
path = "contracts/arkadiko-stake-registry-v1-1.clar"

[contracts.arkadiko-vault-rewards-v1-1]
depends_on = ["arkadiko-token"]
path = "contracts/arkadiko-vault-rewards-v1-1.clar"

[contracts.xusd-token]
depends_on = ["arkadiko-mock-ft-trait-v1", "arkadiko-dao"]
path = "contracts/xusd-token.clar"

[contracts.xstx-token]
depends_on = ["arkadiko-mock-ft-trait-v1"]
path = "contracts/xstx-token.clar"

[contracts.arkadiko-diko-init]
depends_on = ["arkadiko-token"]
path = "contracts/arkadiko-diko-init.clar"
