# GitHub action to verify `clarinet test` runs against contract
# Uses a prepare script outlined in testing section of README

name: CI Clarinet

# Controls when the action will run.
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - name: "Execute test suite"
        uses: docker://hirosystems/clarinet:1.8.0
        with:
          entrypoint: "bash"
          args: -c "cd clarity && CLARINET_DISABLE_HINTS=1 clarinet test"
