# GitHub action to verify `clarinet check` runs against contract
# Uses a prepare script outlined in testing section of README

name: Test Contracts

# Controls when the action will run.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "Check contract"
        uses: docker://ludovic/clarinet:latest
        with:
          args: check
      - name: "Execute test suite"
        uses: docker://ludovic/clarinet:latest
        with:
          args: test --coverage
      - name: "Export code coverage"
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.lcov
          verbose: true
